<ion-content [fullscreen]="true">
  <div id="bg">
      <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
          <ion-fab-button color="dark" routerLink="/home" >
            <ion-icon name="close-outline" color="medium"></ion-icon>
          </ion-fab-button>
      </ion-fab>
  </div>
  <ion-list lines="none" class="ion-margin">
      <ion-list-header color="medium">WELCOME BACK!</ion-list-header>
      <ion-item class="ion-margin">
        <ion-input placeholder="Username" type="text" clearInput="true" ><ion-icon name="person-outline" slot="end"></ion-icon></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-input placeholder="Password" type="Password" clearInput="true"><ion-icon name="lock-closed-outline" slot="end"></ion-icon></ion-input>
    </ion-item>
    <ion-text color="medium"><p class="ion-margin-horizontal" [routerLink]="['/resetpassword']">Forget Password?</p></ion-text>
    <div align="right">
      <ion-button shape="round" strong="true" class="ion-margin-end" fill="outline" color="plant" [routerLink]="['/userpage/userhome']">
        Sign In
        <ion-icon name="log-in" slot="end" ></ion-icon>
      </ion-button>
    </div>  
  </ion-list>
</ion-content>
