input{
    font-size: 300;
}
ion-searchbar{
    background: transparent;
}
ion-content{
    --background:linear-gradient(180deg,rgba(241, 235, 123, 0.756),rgb(213, 222, 148),rgba(235, 242, 236, 0.877)) no-repeat center center / cover;
}
ion-item{
    --background:#8ade87;
    border-radius: 10px;
    margin-bottom: 16px;
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subtitle{
        color: gray;
        font-size: 0.9rem;        
    }
    title{
        font-size: 2rem;
    }
}
